.ConainerContact{
    background-color: #626262;
    display: grid;
    grid-template-columns: 1fr 10fr .2fr;
    width: calc(100% - 4vw);
    padding: 1vw;
    gap: 1vw;
    height: 6vh;
    margin: .5vw 1vw;
    border-radius: .2vw;
    span{
        color: #ffffff;
        font-size: 2vw;
    }
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.lastMessage{
    font-size: 1.2vw !important;
    color: #ffffff;
}
.lastTime{
    font-weight: 200;
    font-size: 1.2vw !important;
    color: #626262;
}
.checkmark{
    font-size: 1.2vw !important;
    justify-content: center;
    display: flex;
}