.ConainerContact {
    background-color: #858484;
    display: grid;
    grid-template-columns: 10fr 1fr .2fr;
    grid-template-rows: 1fr;
    width: calc(100% - 2vw);
    align-items: center;
    padding: .5vw 1vw;
    gap: 1vw;
    height: 6vh;
    height: fit-content;
    border-radius: .2vw;

    span {
        color: #ffffff;
        font-size: 1.5vw;
    }

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.lastMessage {
    font-size: 1vw !important;
    color: #ffffff;
}

.lastTime {
    font-weight: 200;
    font-size: 1vw !important;
    color: #626262;
}

.checkmark {
    font-size: 1vw !important;
    justify-content: center;
    display: flex;
}